
@{
    ViewBag.Title = "LoginSucces";
}


<!doctype html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>


</head>
<body style="background-color: #3c373e; margin:0px; padding:0px;">
    <div style="text-align: center; color: white; font-family: 'Poppins'; font-size:50px;">


        IKU Graduation Project  Management System


    </div>




</body>
</html>

