@model Deneme.Models.VoteViewModel

<table style="width: 100%; border: 1px solid black">


    <tr>
        @Model.QuestionSubject

    </tr>

    <tr>
        @Model.QuestionDescription
    </tr>



</table>
